  textarea {
    width: 100%;
  }
  .form-group{
    font-weight: 200;
    letter-spacing: 0.1em;
    margin: 2em 5em 1em;

  }
  .content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
  }
  .is-center {
    text-align: center;
  }
  .button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65); /* this is a green */
  }
  #name, #email, #phone {
    width: 50%;
    margin: 0.5em 2em 1em;
  }
  .honeypot-field {
    display: none;
  }
  .grid-item-content{
    color: #f44336;
    margin: 20px;
  }
  .grid-item-title{
    color: white;
    margin: 20px;
  }
  a.mail{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a.tel{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    margin-left: 190px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }